* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
}
body {
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: #111111;
    display: grid;
    grid-template-columns: 10% minmax(0, 10%) minmax(500px, 1fr) minmax(0, 10%) 10%;
    grid-template-rows: minmax(55px, 10vh) 30px minmax(2em, 5em) 1fr;
    row-gap: 0.8em;
    grid-template-areas: 
        "header header header header header"
        ". admin . . ."
        ". search search search ."
        ". . result . .";
    background-color: #BFC8AD;
}
button {
    min-height: 2em;
    min-width: 6em;
    border-radius: 3px;
    background-color: #718F94;
    cursor: pointer;
}
input {
    min-height: 2em;
    width: 10em;
    padding-left: 3px;
    border-radius: 2px;
}
a {
    color: inherit;
}
i {
    margin: 0 5px 0 5px;
}
.error_message,
.success_message {
    background-color: #60d394;
    padding: 5px;
    text-align: center;
    margin: 5px 0 5px 0;
    min-height: 2em;
    min-width: 17em;
    border-radius: 4px;
    color: #333;
}
.error_message {
    background-color: #c75146;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* --- Search --- */
nav {
    grid-area: header;
    background-color: #545775;
    display: flex;
}
.nav__logo {
    grid-column: 3/6;
}
.admin {
    grid-area: admin;
    display: flex;
}
.search {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    background-color: #90B494;
    grid-area: search;
}
.result, 
.favorites {
    grid-area: result;
}
.result__div-lit,
.result__div-web {
    margin-bottom: 0.5em;
    padding: 5px 5% 5px 5%;
    border-bottom: 0.5px #718F94 solid;
    border-radius: 1px;
    display: flex;
    justify-content: space-evenly;
}
/* --- Login --- */
.auth,
.dashboard,
.confirm {
    grid-column: 3 / 4;
    grid-row-start: 3;
    min-width: 20em;
    max-width: 70%;
    justify-self: center;
}
.auth input {
    margin-bottom: 5px;
}
.auth__span-message {
    margin-bottom: 1em;
}
.auth__span-message button {
    background-color: #90B494;
    width: 50%;
}
/* --- Dashboard --- */

.dashboard__block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1em;
}
.dashboard input {
    margin-right: 2px;
}
